@font-face {
  font-family: 'Avenir Next LT Pro';
  src: local('Avenir Next LT Pro') url(~assets/font/avenir-next-lt-pro/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'Lato';
  src: local('Lato') url(~assets/font/lato/Lato-Regular.ttf);
}

.font-lato{
  font-family: 'Lato' serif !important;
}

.font-avenir{
  font-family: 'Avenir Next LT Pro' 'serif' !important;
}

.font-size-h1{
  font-size: 5rem !important;
  line-height: 5rem;
}

.font-size-96{
  font-size: 6rem !important;
}

.font-size-72{
  font-size: 4.5rem !important;
}

.font-size-50{
  font-size: 3.125rem !important;
}

.font-size-48{
  font-size: 3rem !important;
}

.font-size-36{
  font-size: 2.25rem !important;
}

.font-size-34{
  font-size: 2.125rem !important;
}

.font-size-30{
  font-size: 1.87rem !important;
}

.font-size-28{
  font-size: 1.75rem !important;
}
.font-size-26{
  font-size: 1.625rem !important;
}

.font-size-24{
  font-size: 1.5rem !important;
}

.font-size-22{
  font-size: 1.37rem !important;
}

.font-size-20{
  font-size: 1.25rem !important;
}
.font.size-19{
  font-size: 1.188rem !important;
}

.font-size-12{
  font-size: 0.77rem !important
}

.decoration-none{
  text-decoration: none !important;
}

.text-yellow-p{
  color: #FDBD31;
}

.bg-boxstep-content{
  background-color: #EDE6E6;
}

.bg-yellow-p{
  background-color: #FDBD31;
}

.border-box-quiz{
  border: 1px 1px;
  border-style: solid;
  border-color: #FDBD31;
  border-width: 4px;
  border-radius: 15px;
}

.not-cursor{
  cursor: not-allowed;
}